ol(class="about json" 
aria-describedby="schemaDescription"
aria-label="About Me"
itemscope itemtype="http://schema.org/Person")
  li.attribute
    span.key#context @context
    a(href="http://schema.org" 
    class="value" 
    aria-labelledby="context") http://schema.org
    
  li.attribute
    span.key#type @type
    span.value.str(aria-labelledby="type") Person
    
  li.attribute
    span.key#name name
    span(class="value str" 
    itemprop="name" 
    aria-labelledby="name") Luke Coy
    
  li.attribute
    span.key#jobTitle jobTitle
    span(class="value str" 
    itemprop="jobTitle" 
    aria-labelledby="jobTitle") Software Engineer
    
  li.attribute
    span.key#email email
    span(class="value email" 
    itemprop="email" 
    aria-labelledby="email") luke.coy@rit.edu
    
  li.attribute
    span.key#sameAs sameAs
    ol.array.value(aria-labelledby="sameAs")
      li
        a(href="http://github.com/lukecoy" 
        itemprop="sameAs" 
        title="Personal Github Profile") http://github.com/lukecoy
      li
        a(href="http://linkedin.com/in/lukecoy" 
        itemprop="sameAs" 
        title="LinkedIn Profile") http://linkedin.com/in/lukecoy
      
  li.attribute
    span.key#description description
    span(class="value str" 
    itemprop="description" 
    aria-labelledby="description") Likes spaghetti and spotify

  div#schemaDescription(hidden) Information about me, displayed in JSON-LD format.
